
:root {
	--white: #FFFFFF;
	--red: rgb(159, 51, 34);
	--black: #000000;
	--very-light-pink: #C7C7C7;
	--text-input-field: #F7F7F7;
	--golden:#D3B365;
	--ssm: 10px;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
	--eg: 24px;
}