@import 'vars';

.main-form {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 9px;
    position: relative;
    width: 50%;
    height: auto;
    }

.title {
    width: 90%;
    height: 44px;
    /* p/14px-0.8rem/22-Regular */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 28px;
    line-height: 36px;
    /* or 129% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    /* color/primario/negro */
    
    color: #030200;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 1;
    }

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 8px;
    gap: 4px;
    width: 90%;
    height: 512px;
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.send-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 93%;
    height: 50px;
    /* color/secundario */
    background: #506496;
    border-radius: 8px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    display: flex;
    align-items: center;
    text-align: center;
    /* color/neutro2 */
    color: #E2D3A8;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.select-type {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 10px;
    width: 102%;
    height: 66px;
    background: #FEF9EA;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.select-travel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 8px;
    gap: 10px;
    width: 149.5px;
    height: 46px;
    background: #E2D3A8;
    border-radius: 4px 4px 0px 0px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
    width: 133.5px;
    height: 26px;
    /* H3/18px-1.125rem/26-Bold */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    display: flex;
    align-items: center;
    color: #000000;
    /* Inside auto layout */
}

.inputs-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    height: 72px;
    width: 100%;
    /* color/neutro2 */
    background: #E2D3A8;
    border-radius: 4px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.form-label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #030200;
    flex: none;
    order: 0;
    flex-grow: 1;
}

input {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #030200;
    opacity: 0.5;
    flex: none;
    order: 1;
    flex-grow: 1;
    outline: none;
}

.point {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}