body {
	margin: 0;
	font-family: 'Poppins';
	background-color: var(--white);
	/* background-image: url("../assets/images/bg.jpg");
	background-repeat: no-repeat; */
	box-sizing: border-box;
    padding: 0;
	font-size: 62.5%;
	width: 100%;
}

h1 {
	font-size: var(--md);
}

p {
	font-size: var(--sm);
}