@import 'vars';

nav {
	display: flex;
	font-size: var(--sm);
	justify-content:space-between;
	align-content: center;
	padding: 10px 0 0 2px;
}

.fivestars {
	left: 60px;
	width: 410px;
	position: absolute;
}

.menu {
	top: 0;
	width: 7rem;
	height: auto;
	border-radius: 6px;
	position: absolute;
	right: 50px;
}

