@import 'vars';

nav {
  display: flex;
	align-items: center;
	justify-content: space-between;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 4%;
}

.fivestars {
	left: 60px;
	width: 410px;
	top: 3%;
}

.menu {
  width: 100px;
  height: auto;

}
.links{
	display: none;
a{
      color: var(--black);
      font-size: var(--ssm);
      display: flex;
}}

.menu-item {
	display: flex;
}
.icon-list-menu{
	margin-right: 20px;
}
  .links.active{
	font-style: normal;
	font-weight: 700;
	font-size: var(--eg);
	line-height: 24px;
	transition: all .5s ease;
	display: inline-flex;
	margin-left: 20px;
	flex-direction: column;
	align-items: flex-start;
	width: auto;
	height: auto;
	background: #FEF9EA;
	border-radius: 4px;
    width: 160px;
    display: flex;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 3%;
    text-align: left;
    a{
      color: var(--black);
	  text-decoration: none;
    }
	a:hover{
		border-color: var(--golden);
		border-radius: 2%;
	  }
  }
