@import 'vars';

.hero-container {
    display: flex;
    margin: auto;
}

.hero-banner {
    background-color: var(--white);
}

.content-box {
    margin-top: 3%;
    text-align: end;
    align-items: flex-end;
    padding: 0% 2% 2% 2%;

}

.content-box h1 {
    color: var(--golden);
}


.hero-calculator {
    background-color: var(--golden);
    padding: 2% 2% 2% 2%;
}

@media (max-width: 850px) {

    .hero-container {
        display: block;
        margin: auto;
    }

    .white-corolla{
        width: 80%;
    }
}