@import 'vars';

.hero-container {
    display: flex;
    margin: 8rem 0 0 0;
    justify-content: space-between;
}

.white-corolla {
    padding-left: 20%;
    padding-top: 15%;
}
.hero-banner {
    align-items: center;
    background-image: url('../assets/images/bg-toyota.png');
    //background-repeat: no-repeat;
    background-size: contain;
}

.content-box {
    text-align: end;
    align-items: flex-end;
}

.main-message {
    width: 420px;
    height: 104px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #030200;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: left;
    margin-left: 20px;
}

.just-time {
    width: 425px;
    height: 40px;

/* H1/32px-2rem/40-Medium */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */

display: flex;
align-items: center;

/* color/primario/negro */

color: #030200;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
padding-left: 20px;
}
@media (max-width: 1026px) {

    .hero-container {
        display: block;
    }

}