@import 'vars';

ul{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
	gap: 10px;
	width: 288px;
	height: 180px;
	background: #FEF9EA;
	border-radius: 4px;
	/* Inside auto layout */
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}

li{
	width: 49px;
	height: 24px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */
	display: flex;
	align-items: center;
	/* color/primario/negro */
	color: #030200;
	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}