@import 'vars';

.service-main{
    margin: 8rem 0 0 0;
    display:block;
    position: relative;
    height: auto;
    width: 100%;
    justify-content:space-around;
}

.services {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 3rem;
    line-height: 36px;
    color: var(--black);
    text-align: center;
}

.container-service {
    align-self: center;
    display: block;
    width: auto;
}

#image-service{
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 180px;
    margin: auto;
    display: block;
}

.p-service {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: var(--sm);
    line-height: 22px;
    color: var(--black);
    flex: none;
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
}

h2.service-title{
    height: 26px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: var(--eg);
    line-height: 26px;
    color: var(--black);
}